footer{ 
    width: 100% ;
    background-color : #353535ff;
    color: #fff;
    ul{
        list-style: none;
        padding: 20px;
    }
    h3{
        font-family: 'Shrikhand';
        font-weight: 400;
        padding-bottom: 20px;
    }
    li{
        line-height: 2.0;
        width: fit-content;
    }
    i{
        width: 25px;
    }  
}